.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #e0e7ef;
    .content{
        line-height: 1.5;      
         padding: 100px 400px 50px 400px;
        .fieldset{
            padding: 15px 10px 15px 30px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border: 3px solid #202020;
            legend{
                margin-left: 30px; // kenar çizgisi bozulmadan kaydırmak için margin kullandık
                font-weight: 600;
                padding: 0 10px;
            }
            h2{
                // margin-bottom:-20px ;
            }
            .fieldset_description{
                margin-top: 10px;
            }
        }
        .solar_system_description{
           margin-top: 40px;
           width: 100%;
           font-size: 20px;
           margin-left: auto;
           margin-right: auto;
           .solar_system_img{
                width: 440px;
                height: 350px;
                border-radius: 50%;
                border: 2px solid black;         
                shape-outside: circle();                    
                shape-margin: 55px;
                margin-right: 55px;
                float: left;
           }
           .description{
            text-align: justify;
           }
        }
    }
    .card_container{
        width: 100%;        
        background-image: url("../../../Assets/img/background_stars_grid.jpg");
        margin-top:100px; 
        padding-bottom: 400px;        
        background-repeat: repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .main_heading{
            color: #fff;
            font-size: 20px;
            width: 100%;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            h1{
            height: 100%;

            }
            }
        .button_container{
            color:#fff;
            width: 100%;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            .button{
                font-weight: 600;
                font-size: 20px;
                padding: 0 15px;
                border: none;
                color:#6e717f;
                border-left: 1px solid transparent;
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    color:#fff;
                }               
            }
            .active{
                color:#fff;
            }         
            .button + .button{              
                border-left: 1px solid #6e717f;                         
            }
        }
        .planets{         
            display: flex;
            flex-wrap: wrap;
            // border: 1px solid #3b3b3b;
            justify-content: center;
            .card{
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin:30px ;
                width: 300px;
                height: 400px;
                transition-duration: 0.5s ;
                overflow: hidden;            
                &:hover{
                    background-color: #000;
                    transform:scale(1.1);
                    transition-duration:all 0.5s ease-in;
                    
                
                    .heading{
                        opacity: 1;
                    transform: translateY(20px);
                    transition-duration: 0.5s ;

                    }
                    .Button{
                    transform: translateY(-20px);
                    transition-duration: 0.5s ;
                    
                    }

                }
                .image_container{
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    width: 100%;   
                    transform : translateY(40px);     
                    .image{
                    width: 100%;     
                    background-size: cover;
                 
                    }
                }
                .heading{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.7;
                    transform: translateY(45px);
                    transition-duration: 0.5s ;

                    h2{
                    font-size: 40px;
                    font-family:  'Open Sans';
                    font-weight: 300;
                    margin: 50px 50px 30px 50px;
                    padding: 0 20px;
                    text-transform: uppercase;
                    width: 100%;
                    }

                }
                .Button{                
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 30px;
                    background-color: transparent;                   
                    transform: translateY(100px);
                    transition-duration: 0.5s ;
                    cursor: pointer;
                  
                }
             
            }
        }

    }
}
@media only screen and (max-width: 1025px){
    .main{
        .content{
            padding: 50px 200px; 
            font-size: 110%;

            .fieldset{
                .fieldset_description{
                    margin-right: 30px;
                }
            }
            .solar_system_description{
                display: flex;
                flex-direction: column;
                .solar_system_img{
                     margin-left: auto;
                     margin-right: auto;                  
                     width: 450px;
                     height: 350px;
                     border-radius: 50%;
                     border: 2px solid black;
                     margin-bottom: 4rem;
                }
                .description{
                 text-align: justify;
                }
             }
        }
        .card_container{            
            .main_heading{
                font-size: 1.4rem;  
                margin-top: 80px;
                }
            .button_container{  
                border-bottom: 1px solid #6e717f;
                padding-bottom: 60px;
                .button{
                  font-size: 1.5rem;            
                }
            }
            .planets{   
                border:none;
                width: 100%;
                .card{      
                    .image_container{
                        transform : translateY(20px); 
                    }
                    .heading{
                        transform: translateY(0);
                    }
                    .Button{            
                        transform: translateY(-20px);
                    }
                }
            }
        }
       
    }
}
@media only screen and (max-width: 835px){
    .main{
        .content{
            padding: 50px 100px;          
            .fieldset{
                .fieldset_description{
                    margin-right: 30px;
                    
                }
            }
            .solar_system_description{
                display: flex;
                flex-direction: column;
                .solar_system_img{
                     margin-left: auto;
                     margin-right: auto;                  
                     width: 450px;
                     height: 350px;
                     border-radius: 50%;
                     border: 2px solid black;
                     margin-bottom: 4rem;
                }
                .description{
                 text-align: justify;
                }
             }
        }
        .card_container{            
            .main_heading{
                font-size: 1.2rem;  
                margin-top: 80px;
                }
            .button_container{  
                border-bottom: 1px solid #6e717f;
                padding-bottom: 60px;
                .button{
                  font-size: 1.5rem;            
                }
            }
            .planets{   
                border:none;
                width: 100%;
                .card{      
                    .image_container{
                        transform : translateY(20px); 
                    }
                    .heading{
                        transform: translateY(0);
                    }
                    .Button{            
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 428px){
    .main{
        .content{
            padding: 50px 20px;
            width: 100%;
            .fieldset{
                .fieldset_description{
                    margin-right: 5px;
                }
            }
            .solar_system_description{
                display: flex;
                flex-direction: column;
                .solar_system_img{
                     margin-left: auto;
                     margin-right: auto;                  
                     width: 340px;
                     height: 310px;
                     border-radius: 50%;
                     border: 2px solid black;
                     margin-bottom: 4rem;
                }
                .description{
                 text-align: justify;
                }
             }
        }
        .card_container{            
            .main_heading{
                font-size: 15px;
                text-align: center;
                width: 100%;
                margin-top: 80px;
                }
            .button_container{            
                .button{
                    padding:15px;
                    width: 100%;
                    border: 1px solid #6e717f;
                    background-color: transparent;
                    cursor: pointer;
                    &:hover{
                        color:#fff;
                    }               
                }
                .active{
                    color:#fff;
                    background-color: #323544;
                }         
                .button + .button{              
                    border-left: 1px solid transparent;                         
                }
            }
            .planets{   
                border:none;
                width: 100%;
                .card{      
                    .image_container{
                        transform : translateY(20px); 
                    }
                    .heading{
                        transform: translateY(0);
                    }
                    .Button{            
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .main{
        .content{
            padding: 50px 20px;
            width: 100%;
            .fieldset{
                .fieldset_description{
                    margin-right: 5px;
                }
            }
            .solar_system_description{
                display: flex;
                flex-direction: column;
                .solar_system_img{
                     margin-left: auto;
                     margin-right: auto;                  
                     width: 280px;
                     height: 250px;
                     border-radius: 50%;
                     border: 2px solid black;
                     margin-bottom: 4rem;
                }
                .description{
                 text-align: justify;
                }
             }
        }
        .card_container{            
            .main_heading{
                font-size: 15px;
                text-align: center;
                width: 100%;
                margin-top: 80px;
                }
            .button_container{            
                .button{
                    padding:15px;
                    width: 100%;
                    border: 1px solid #6e717f;
                    background-color: transparent;
                    cursor: pointer;
                    &:hover{
                        color:#fff;
                    }               
                }
                .active{
                    color:#fff;
                    background-color: #323544;
                }         
                .button + .button{              
                    border-left: 1px solid transparent;                         
                }
            }
            .planets{   
                border: 1px solid transparent;
                width: 100%;
                .card{      
                    .image_container{
                        transform : translateY(20px); 
                    }
                    .heading{
                        transform: translateY(0);
                    }
                    .Button{            
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}