.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    line-height: 1.5;      
    padding: 0 400px 50px 400px;
    background-color:black ; 
    color: #fff;   
        .fieldset{
            padding: 15px 10px 15px 30px;
            width: 100%;
            border: 3px solid #ffffff80;
            legend{
                margin-left: 30px; // kenar çizgisi bozulmadan kaydırmak için margin kullandık
                font-weight: 600;
                padding: 0 10px;
            }
            h2{
                // margin-bottom:-20px ;
            }
            .fieldset_description{
                margin-top: 10px;
            }
        }
        .solar_system_description{
           margin-top: 40px;
           font-size: 20px;
        //    display: flex;
           .solar_system_img{
                width: 440px;
                height: 350px;
                border-radius: 50%;
                border: 2px solid black; 
                // background-image: url("../../Assets/img/solarsystemm.png");  
                // background-size: cover;
                //  shape-outside: url("../../Assets/img/solarsystemm.png");
                shape-outside: circle();                    
                shape-margin: 55px;
                margin-right: 55px;
                float: left;
           }
           .description{
            text-align: justify;
           }
        }
}
@media only screen and (max-width: 1025px){
    .container{
        height: 50vh;
        padding: 0 100px;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 811px){
    .container{
        height: 65vh;
        padding: 0 100px;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 429px){
    .container{
        height: 90vh;
        padding: 0 32px;
        font-size: 110%;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 415px){
    .container{
        height: 110vh;
        padding: 0 32px;
        font-size: 110%;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 391px){
    .container{
        height: 110vh;
        padding: 0 32px;
        font-size: 110%;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 361px){
    .container{
        height: 135vh;
        padding: 0 32px;
        font-size: 110%;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}
@media only screen and (max-width: 321px){
    .container{
        height: 180vh;
        padding: 0 32px;
        font-size: 110%;
        .solar_system_description{
            .description{
                text-align: left;
               }
        }
    }
}