.container{
    width: 100%;
    height: 95vh;
    position: relative;
    background-image: url("../../../Assets/img/solar_system_img.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
 
    .button_container{     
        position: absolute;
        z-index: 998;
        right: 15%;
        height: 0;
        top: 50%;
        background-color: #01363b;
        box-shadow: -20px -20px 20px #547d90;
        transition: box-shadow 0.6 cubic-bezier(0.79,0.21,0.06,0.81);
  
        &:hover{
        filter: drop-shadow(0 0 10px #008cf7);
        .explore_button{
            text-shadow: 0 0 20px #008cf7;
            // .text{
            //     filter: drop-shadow(1px 1px 5px #a9d3ee);
            // }
        }
        }
        .explore_button{
            position: relative;         
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(-45deg,#1f3045,#0a1620,#0f1525,#1f3045);
            border: 3px solid #a9d3ee;
            padding: 15px 50px;
            width: 100%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: #a9d3ee;
            cursor: pointer;
            
            // .text{
            //     position: absolute; 
            // }
        }
       
    }
}
@media only screen and (max-width: 429px){
    .container{
    height: 96vh;
        .button_container{
            .explore_button{
                font-size: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 415px){
    .container{
    height: 96vh;
        .button_container{
            .explore_button{
                font-size: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 376px){
    .container{
    height: 91vh;
        .button_container{
            .explore_button{
                font-size: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 320px){
    .container{
    height: 94vh;
        .button_container{
            .explore_button{
                font-size: 1.5rem;
            }
        }
    }
}
