.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("../../Assets/img/background_stars_grid.jpg");
    width: 100%;
    height: 80vh;
    .footer_top{
        width: 100%;        
        height: 100%;
        z-index: 998;      
        position: relative;
        background-image: url('../../Assets/img/Footers/footer_image.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            background: linear-gradient(to top,rgb(0, 0, 0), transparent);
            width: 100%;
            height: 50%;
            z-index: 999;
            
        }       
        
        
    }
 
    .footer_bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;  
        bottom:0; 
        background-color: black;
        height: 100%;    
        width: 100%;
            .contact{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .buttons{
                    width: 100%;
                    display: flex;
                    margin-top: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #fff;
                        background-color: #000;
                        width: 50px;
                        height: 50px;
                        opacity: 0.8;
                        &:hover{
                            opacity: 1;
                        }
                        a{
                            margin-top: 4px;
                        }
                    }
                }
                h2{
                    margin-bottom: -60px;
                    color: #fff;
                    text-shadow: 0 0 20px #fff;
                }
            }
            .footer_bottom_center{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                .logo{
                    background-image: url("../../Assets/img/logo.png");
                    background-size: cover;
                    height: 80px;
                    width: 80px;
                    // border-bottom: 1px solid #2fd7e4;
                    margin-bottom: 20px;
           
                }
                .line{
                    border-bottom: 2px solid #ffffff66;
                    width: 150%;
                    height: 5px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 25%;
                        right: 25%;
                        bottom: -1.5px;
                        border-bottom: 2px solid #fff;;

                    }
                }
                .description{
                    margin-top: 20px;
                    color: #fff;
                    font-size: 95%;
                    font-weight: 500;                    
                    font-family: Metropolis,Helvetica,Arial,sans-serif;
                  p{
            
                    text-align: center;
                    line-height: 20px;

                  }
                }
            }
    }
}
//tablet
@media only screen and (max-width: 1024px){
    .container{
        height: 50vh;
        .footer_top{
        background-position: 100% 500%;
        &::before{
            height: 30%;  
        }
        }
        .footer_bottom{
            height: 100%;  
            bottom: 0;     
            }
    }
}
@media only screen and (max-width: 835px){
    .container{
        height: 60vh;     
    }
}
@media only screen and (max-width: 428px){
    .container{
        height: 68vh;
        .footer_bottom{
           flex-direction: column;
           .contact{
            margin: 50px 0;
           }
           .footer_bottom_center{
            margin-bottom: 50px;
           }
        }
    }
}
@media only screen and (max-width: 415px){
    .container{
        height: 73vh;
        .footer_bottom{
           flex-direction: column;
           .contact{
            margin: 50px 0;
           }
           .footer_bottom_center{
            margin-bottom: 50px;
           }
        }
    }
}
@media only screen and (max-width: 376px){
    .container{
        height: 85vh;
        .footer_bottom{
           flex-direction: column;
           .contact{
            margin: 50px 0;
           }
           .footer_bottom_center{
            margin-bottom: 50px;
           }
        }
    }
}
@media only screen and (max-width: 320px){
    .container{
        height: 95vh;
        .footer_bottom{
           flex-direction: column;
           .contact{
            margin: 50px 0;
           }
           .footer_bottom_center{
            margin-bottom: 50px;
           }
        }
    }
}

