  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #e0e7ef;
    padding: 100px 150px 150px 150px;
    .row_container{
      display: flex;
      align-items: center;
      gap: 0.5rem;
     
    }
  } 
  @media only screen and (max-width: 1025px){
    .container{
    padding: 100px 20px 150px 20px;

    }
}